@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Messenger</h1>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
    <p></p>
    <p><a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a></p>
</div>